.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-matches-bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.team-matches-container {
  width: 90%;
  max-width: 500px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .team-matches-container {
    margin-top: 96px;
    max-width: 1110px;
  }
}
.team-banner-image {
  width: 100%;
}

.matches-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .matches-list-container {
    margin-top: 32px;
  }
}
